<div class="mt-5">
  <!-- Tailwind class for 20px top margin -->
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <p-autoComplete
      formControlName="selectedFromStation"
      [suggestions]="filteredFromStations"
      (completeMethod)="filterFromStation($event)"
      field="city"
      placeholder="From"
    ></p-autoComplete>

    <p-autoComplete
      formControlName="selectedToStation"
      [suggestions]="filteredToStations"
      (completeMethod)="filterToStation($event)"
      field="city"
      placeholder="To"
    ></p-autoComplete>

    <p-calendar
      formControlName="date"
      [minDate]="minDate"
      (ngModelChange)="onDateChange($event)"
    ></p-calendar>

    <p-button
      type="submit"
      label="Search"
      [disabled]="formGroup.invalid"
    ></p-button>
  </form>
</div>
