<div class="mt-5">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="space-x-4">
    <p-autoComplete
      formControlName="selectedFromStation"
      [suggestions]="filteredFromStations"
      (completeMethod)="filterFromStation($event)"
      field="city"
      placeholder="From"
    ></p-autoComplete>

    <p-autoComplete
      formControlName="selectedToStation"
      [suggestions]="filteredToStations"
      (completeMethod)="filterToStation($event)"
      field="city"
      placeholder="To"
    ></p-autoComplete>

    <p-calendar
      formControlName="date"
      placeholder="Date/Time"
      [minDate]="minDate"
      (ngModelChange)="onDateChange($event)"
    ></p-calendar>

    <p-button
      type="submit"
      label="Search"
      [disabled]="formGroup.invalid"
    ></p-button>
  </form>
</div>
