<!-- Seat Legend -->
<p class="text-lg font-semibold mb-4">Seat Legend</p>
<div class="flex mb-8">
  <div class="flex items-center mr-4">
    <div class="w-8 h-8 p-1 bg-gray-200 text-center rounded mr-2">1</div>
    <p>- Reserved</p>
  </div>
  <!-- Add more legends here if needed -->
  <div class="flex items-center mr-4">
    <div
      class="w-8 h-8 p-1 bg-blue-200 text-center border border-blue-400 rounded mr-2"
    >
      1
    </div>
    <p>- Available</p>
  </div>
  <div class="flex items-center mr-4">
    <div
      class="w-8 h-8 p-1 bg-yellow-200 border border-yellow-400 text-center rounded mr-2"
    >
      1
    </div>
    <p>- Selected</p>
  </div>
</div>
