<p-panel>
  <div class="flex space-x-4 p-4">
    <p-button
      outlined="true"
      icon="pi pi-chevron-left"
      (click)="navigateBack()"
      severity="secondary"
    />
    <div>
      <div>
        <div
          class="flex flex-wrap align-items-center justify-content-between gap-3"
        >
          <div class="flex align-items-center gap-2">
            <ng-container *ngIf="selectedItem$ | async as item">
              <p>From Station: {{ item.fromStation.city }}</p>
              <p>To Station: {{ item.toStation.city }}</p>
              <p>Departure Time: {{ item.deparchureTime | date: "short" }}</p>
              <p>Arrival Time: {{ item.arrivalTime | date: "short" }}</p>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="flex space-x-4 p-4">
        <p>Ride ID: {{ (selectedItem$ | async)?.rideId }}</p>
        <app-route-dialog
          *ngIf="selectedItem$ | async as item"
          [route]="item.route"
          [schedule]="item.schedule"
        ></app-route-dialog>
      </div>
    </div>
  </div>
</p-panel>
