<p-card class="w-full">
  <form [formGroup]="formGroup">
    <div class="flex w-full">
      <!-- STATIONS SECTION -->
      <div class="flex-1 w-full max-w-[50%]">
        <p class="text-lg font-bold">Stations</p>
        <div class="flex flex-row flex-wrap gap-4 p-4">
          <!-- Render dropdowns based on stationControlNames -->
          <div *ngFor="let controlName of stationControlNames">
            <p-dropdown
              [formControlName]="controlName"
              [options]="stations"
              optionLabel="city"
              placeholder="Select a City"
              (onChange)="checkDropdownValues()"
              class="w-full"
            />
          </div>
        </div>
        <!-- Show the "Add More" button if not all selects have values -->
        <p-button
          *ngIf="showAddStationButton"
          class="m-4"
          label="Add More"
          (onClick)="addStationDropdown()"
          [outlined]="true"
        ></p-button>
      </div>
      <p-divider layout="vertical" />
      <!-- CARRIAGES SECTION -->
      <div class="flex-1 w-full max-w-[50%]">
        <p class="text-lg font-bold">Carriages</p>
        <div class="flex flex-row flex-wrap gap-4 p-4">
          <!-- Render dropdowns based on carriageControlNames -->
          <div *ngFor="let controlName of carriageControlNames">
            <p-dropdown
              [formControlName]="controlName"
              [options]="carriageTypes"
              optionLabel="name"
              placeholder="Select a Carriage"
              (onChange)="checkDropdownValues()"
              class="w-full"
            />
          </div>
        </div>
        <!-- Show the "Add More" button if not all selects have values -->
        <p-button
          *ngIf="showAddCarriageButton"
          class="m-4"
          label="Add More"
          (onClick)="addCarriageDropdown()"
          [outlined]="true"
        ></p-button>
      </div>
    </div>
  </form>
  <div class="mt-4">
    <p-button
      label="Save"
      (onClick)="hideCreateForm()"
      [outlined]="true"
    ></p-button>
  </div>
</p-card>
