<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <p-dropdown
    formControlName="selectedFromCity"
    [options]="fromCities"
    optionLabel="name"
    placeholder="From"
    (onChange)="onFromCityChange($event)"
  ></p-dropdown>

  <p-dropdown
    formControlName="selectedToCity"
    [options]="toCities"
    optionLabel="name"
    placeholder="To"
    (onChange)="onToCityChange($event)"
  ></p-dropdown>

  <p-calendar
    formControlName="date"
    (onChange)="onDateChange($event)"
  ></p-calendar>

  <p-button type="submit" label="Search"></p-button>
</form>
