<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <p-dropdown
    formControlName="selectedFromStation"
    [options]="fromStations"
    optionLabel="city"
    placeholder="From"
    (onChange)="onFromStationChange($event)"
  ></p-dropdown>

  <p-dropdown
    formControlName="selectedToStation"
    [options]="toStations"
    optionLabel="city"
    placeholder="To"
    (onChange)="onToStationChange($event)"
  ></p-dropdown>

  <p-calendar
    formControlName="date"
    (ngModelChange)="onDateChange($event)"
  ></p-calendar>

  <p-button type="submit" label="Search"></p-button>
</form>
